@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<ResourcesDto>
@{
    ViewData["Title"] = "Resources of Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Resources</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/home">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Resources</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Resources</h6>
            <h3>The following sources were used in the articles</h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-info-circle mx-auto mb-4"></i>
                        <a href="@item.ReferenceUrl"><h5 class="mb-2">@item.ReferenceTitle</h5></a>
                        <h6 class="mb-2">@item.EventTitle</h6>
                        <p class="m-0">@item.ReferenceDescription</p>
                    </div>
                </div>
            }
            <div class="col-12">
                <nav aria-label="Page navigation">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("HomeResources", new { page }), new PagedListRenderOptions
               {
                   UlElementClasses = new List<string> { "pagination", "pagination-lg", "justify-content-center", "bg-white", "mb-0", "p-lg-5" },
                   LiElementClasses = new List<string> { "page-item", "page-link" }
               })
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

